.container {
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55%;
    align-items: center;
}

.dropDown {
    width: 300px !important;
}

.photos {
    display: inline;
}

.singlePhoto {
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 150px;
}

.title {
    margin-top: -30px;
    background-color: beige;
}